<div fxLayout="column" fxLayoutGap="3em">
    <div fxLayout="row">
        <mat-toolbar class="toolbar">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
                <div fxLayout="column">
                    <h3>Add Beneficiary</h3>
                </div>
                <div fxLayout="column" fxLayoutAlign="center end">
                    <h3 class="pointer" matTooltip="Log Out" routerLink="/login">Log Out</h3>
                </div>
            </div>
        </mat-toolbar>
    </div>
</div>
<div fxLayout="column" class="login-styles" fxFlex="100" fxLayoutAlign="center center" class="height-100">
    <mat-card class="login-card-styles">
        <form [formGroup]="beneficiary">
            <div fxLayout="column">
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                    <h2>Add Beneficiary</h2>
                </div>
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                    <mat-form-field class="width-100">
                        <input name="beneficiary" formControlName="Beneficiary" matInput placeholder="Account Number" type="number"> 
                        <mat-error
                            *ngIf="beneficiary.controls.Beneficiary.invalid && (beneficiary.controls.Beneficiary.touched || beneficiary.controls.Beneficiary.dirty || isSubmitted)">
                            Account number is required or invalid</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                    <mat-form-field class="width-100">
                        <input name="name" formControlName="Name" matInput placeholder="Name">
                        <mat-error
                            *ngIf="beneficiary.controls.Name.invalid && (beneficiary.controls.Name.touched || beneficiary.controls.Name.dirty || isSubmitted)">
                            Name is required or invalid</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                    <mat-form-field class="width-100">
                        <input name="bankname" formControlName="BankName" matInput placeholder="Bank name">
                        <mat-error
                            *ngIf="beneficiary.controls.BankName.invalid && (beneficiary.controls.BankName.touched || beneficiary.controls.BankName.dirty || isSubmitted)">
                           Bank Name is required or invalid</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
                    <div fxLayout="column">
                        <button class="button-styles pointer" (click)="onsubmit(beneficiary.controls.Beneficiary.value)" mat-raised-button>Submit</button>
                    </div>
                    <div fxLayout="column">
                        <button class="button-styles pointer" (click)="onCancel()" mat-raised-button> Cancel</button>
                    </div>
                </div>

            </div>
        </form>
    </mat-card>
</div>