<div fxLayout="column" fxLayoutGap="3em">
    <div fxLayout="row">
        <mat-toolbar class="toolbar">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
                <div fxLayout="column">
                    <h3>Account Details</h3>
                </div>
                <div fxLayout="column" fxLayoutAlign="center end">
                    <h3 class="pointer" matTooltip="Log Out" routerLink="/login">Log Out</h3>
                </div>
            </div>
        </mat-toolbar>
        <div class="width-100">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>