<div class="margin-top" fxLayoutGap="30px" fxLayout="column">
    <div fxLayout="row">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 width-100">
            <ng-container matColumnDef="Account">
                <th mat-header-cell *matHeaderCellDef> Account </th>
                <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
            </ng-container>


            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.accountName}} </td>
            </ng-container>


            <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.accountType}} </td>
            </ng-container>

            <ng-container matColumnDef="OpeningBalance">
                <th mat-header-cell *matHeaderCellDef> OpeningBalance </th>
      <td mat-cell *matCellDef="let element"> {{element.openingBalance}} </td>
            </ng-container>

            <ng-container matColumnDef="CurrentBalance">
                <th mat-header-cell *matHeaderCellDef> CurrentBalance </th>
      <td mat-cell *matCellDef="let element"> {{element.currentBalance}} </td>
            </ng-container>

            <ng-container matColumnDef="MobileNumber">
                <th mat-header-cell *matHeaderCellDef> MobileNumber </th>
      <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
            </ng-container>
            

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
        <div fxLayout="column">
            <button class="button-styles pointer" routerLink="/layout/transaction" mat-raised-button> Transaction </button>
        </div>
        <div fxLayout="column">
            <button class="button-styles pointer" routerLink="/layout/addbeneficiary" (click)="addBeneficary()" mat-raised-button>Add Beneficiary</button>
        </div>
        <div fxLayout="column">
            <button class="button-styles pointer" routerLink="/layout/fundstransfer" mat-raised-button> Funds transfer</button>
        </div>
    </div>

</div>