<div fxLayout="column" fxLayoutGap="3em">
    <div fxLayout="row">
        <mat-toolbar class="toolbar">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
                <div fxLayout="column">
                    <h3>Transcation History</h3>
                </div>
                <div fxLayout="column" fxLayoutAlign="center end">
                    <h3 class="pointer" matTooltip="Log Out" routerLink="/login">Log Out</h3>
                </div>
            </div>
        </mat-toolbar>
    </div>
</div>
<div class="margin-top" fxLayoutGap="30px" fxLayout="column">
    <div fxLayout="row">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 width-100">
            <ng-container matColumnDef="Account">
                <th mat-header-cell *matHeaderCellDef> Account </th>
                <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
            </ng-container>


            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.accountname}} </td>
            </ng-container>


            <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>

            <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.transcationtype}} </td>
            </ng-container>
            

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
     <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
        <div fxLayout="column">
            <button class="button-styles pointer" routerLink="/layout/Accountdetails" (click)="Accountdetails()" mat-raised-button>Accountdetails</button>
        </div>
        <div fxLayout="column">
            <button class="button-styles pointer" routerLink="/layout/addbeneficiary" (click)="addBeneficary()" mat-raised-button>Add Beneficiary</button>
        </div>
        <div fxLayout="column">
            <button class="button-styles pointer" routerLink="/layout/fundstransfer" mat-raised-button> Funds transfer</button>
        </div>
    </div> 

</div>