<div fxLayout="column" class="login-styles" fxFlex="100" fxLayoutAlign="center center" class="height-100">
    <mat-card class="login-card-styles">
        <form [formGroup]="login">
            <div fxLayout="column">
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                    <h2>Login</h2>
                </div>
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                    <mat-form-field class="width-100">
                        <input name="username" formControlName="username" matInput placeholder="UserName">
                        <mat-error
                            *ngIf="login.controls.username.invalid && (login.controls.username.touched || login.controls.username.dirty || isSubmitted)">
                            Email is required or invalid</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                    <mat-form-field class="width-100">
                        <input matInput name="password" type="password" formControlName="password" placeholder="Password">
                        <mat-error
                            *ngIf="login.controls.password.invalid && (login.controls.password.touched || login.controls.password.dirty || isSubmitted)">
                            password or invalid</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                    <button class="button-styles pointer" (click)="onLogin()" matRaisedButton>Login</button>
                </div>

                <div fxLayout="row" class="padding-15" fxFlex="100" fxLayoutAlign="center center">
                    <span>Don't have an account?</span><span class="pointer padding-15 edit-icon">Register</span>
                </div>

            </div>
        </form>
    </mat-card>
</div>