<div fxLayout="column" fxLayoutGap="3em">
    <div fxLayout="row">
        <mat-toolbar class="toolbar">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
                <div fxLayout="column">
                    <h3>Funds Transfer</h3>
                </div>
                <div fxLayout="column" fxLayoutAlign="center end">
                    <h3 class="pointer" matTooltip="Log Out" routerLink="/login">Log Out</h3>

                </div>
            </div>
        </mat-toolbar>
    </div>
</div>
<div fxLayout="column" class="login-styles" fxFlex="100" fxLayoutAlign="center center" class="height-100">
    <mat-card class="login-card-styles">
        <form [formGroup]="funds">
            <div fxLayout="column">
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                    <h2>Funds Transfer</h2>
                </div>
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                    <mat-form-field class="width-100">
                        <input name="sourceAccount" disabled formControlName="sourceAccount" matInput
                            placeholder="Source Account Number">
                        <mat-error
                            *ngIf="funds.controls.sourceAccount.invalid && (funds.controls.sourceAccount.touched || funds.controls.sourceAccount.dirty || isSubmitted)">
                            Account number is required or invalid</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                    <mat-form-field class="width-100">

                        <mat-select formControlname="destinationAccount" placeholder="Destination Account Number">
                            <mat-option *ngFor="let accnum of beneficiaries" [value]="accnum">
                                {{accnum.accountNumber}}
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="funds.controls.destinationAccount.invalid && (funds.controls.destinationAccount.touched || funds.controls.destinationAccount.dirty || isSubmitted)">
                            Destination Account is required or invalid</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                    <mat-form-field class="width-100">
                        <input name="Name" formControlName="Name" matInput placeholder="Bank name">
                        <mat-error
                            *ngIf="funds.controls.Name.invalid && (funds.controls.Name.touched || funds.controls.Name.dirty || isSubmitted)">
                            Name is required or invalid</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                    <mat-form-field class="width-100">
                        <input name="transferAmount" formControlName="transferAmount" matInput
                            placeholder="Transfer Amount ">
                        <mat-error
                            *ngIf="funds.controls.transferAmount.invalid && (funds.controls.transferAmount.touched || funds.controls.transferAmount.dirty || isSubmitted)">
                            Name is required or invalid</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
                    <div fxLayout="column">
                        <button class="button-styles pointer" (click)="onTransfer(funds.controls.transferAmount.value,funds.controls.destinationAccount.value)" mat-raised-button>Transfer
                            Amount</button>
                    </div>
                    <div fxLayout="column">
                        <button class="button-styles pointer" routerLink="/layout" mat-raised-button> Cancel</button>
                    </div>
                </div>

            </div>
        </form>
    </mat-card>
</div>